@model SecurityIssuePost



<div class="main">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Title</span>
        </div>
        <input type="text" class="form-control" aria-label="Title" value="@Model.Title" disabled="disabled" />
    </div>

    <div class="input-group mt-2">
        <div class="input-group-prepend">
            <span class="input-group-text">Component</span>
        </div>
        <input type="text" class="form-control" aria-label="Component" value="@Model.CMSComponentVersion.Version.VersionNumber - @Model.CMSComponentVersion.CMSComponent.Name" disabled="disabled" />
    </div>

    <div class="input-group mt-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Description</span>
        </div>
        <textarea class="form-control" disabled="disabled" rows="4">@Model.IssueDescription</textarea>
    </div>

    <div class="input-group mt-2">
        <div class="input-group-prepend">
            <span class="input-group-text">Reproduction steps</span>
        </div>
        <textarea class="form-control" disabled="disabled" rows="4">@Model.IssueReproduction</textarea>
    </div>
</div>